{% extends 'base.html' %}

{% block title %}Import người dùng{% endblock %}
{% block page_title %}Import người dùng{% endblock %}

{% block content %}

<div class="dashboard-card">
    <div class="section-title mb-1">Import từ Excel</div>
    <div class="section-subtitle mb-4">
        File phải có cột: Mã nhân viên | Họ Và Tên | Chức danh | Phòng | Role
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-4">
            {{ form.file }}
        </div>

        <button class="btn btn-primary">Import</button>
        <a href="{% url 'user_list' %}" class="btn btn-outline-secondary">Quay lại</a>
    </form>
</div>

{% endblock %}